.rgba .thumbs td,
.rgba .folders td,
.rgba .neighbors a,
#map,
.disqus-comments {
	background-color:rgba(255,255,255,0.2);
	${tb_l}
}
.no-rgba .thumbs td,
.no-rgba .folders td,
.no-rgba .neighbors a,
.no-rgba #map,
.no-rgba .disqus-comments {
	background-color:transparent;
	background-image:url(w20.png);
}
.thumbs td > a:hover,
.thumbs td > a:focus,
.neighbors a:hover,
.neighbors a:focus,
.folders td:hover {
	background-color:rgba(255,255,255,0.4);
	outline:none;
}
.no-rgba .thumbs td > a:hover,
.no-rgba .thumbs td > a:focus,
.no-rgba .neighbors a:hover,
.no-rgba .neighbors a:focus,
.no-rgba .folders td:hover {
	background-color:transparent;
	background-image:url(w40.png);
}
.folders td > a {
	color:#333;
}
.rgba .thumbs td > a.active,
.no-rgba .thumbs td > a.active {
	background-color:#333;
}
.rgba #main article,
.no-rgba #main article {
	background-color:#fff;
}
.thumbs td > .caption span.nr {
	font-weight:bold;
	font-style:normal;
	padding:0px 3px;
	color:#222;
	background-color:#fff;
}